<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<style>

body {
	overflow: hidden;
}
.panel {
    display: inline-block; 
    vertical-align: top;
    background-color: #ddd;
    width: 300px;
    height: 300px;
}
.node circle  {
  stroke: #fff;
  stroke-width: 1.5px;
}

.link {
  stroke: #999;
  stroke-opacity: .6;
}

</style>
</head>
<body>
	<svg></svg><div class="panel">
	<ul id="info">
	</ul>
	</div>
<script src="http://d3js.org/d3.v3.min.js"></script>
<script>

var ggraph;
var width = 1024;
    height = 900;

var x = d3.scale.linear()
          .domain([0, width])
	  .range([0, width]);

var y = d3.scale.linear()
	  .domain([0, height])
	  .range([0, height]);


var color = d3.scale.category20();

var force = d3.layout.force()
    .charge(-240)
    .linkDistance(120)
    .size([width, height]);

var bzoom = d3.behavior.zoom().x(x).y(y).scaleExtent([1, 8]).on("zoom", zoom);
var svg = d3.select("body").select("svg")
    .attr("width", width)
    .attr("height", height)

var bground = svg.append("rect")
    .attr("width", width)
    .attr("height", height)
    .style("fill", "white")
    .style("stroke", "gray")
	.call(bzoom);

svg = svg.append("g")
.style("height", height)

.text("text");

function zoom() {
    console.log("zoom");
    svg.selectAll(".node").attr("transform", transform)

    svg.selectAll(".link")
        .attr("x1", function(d) { return x(d.source.x); })
        .attr("y1", function(d) { return y(d.source.y); })
        .attr("x2", function(d) { return x(d.target.x); })
        .attr("y2", function(d) { return y(d.target.y); });
}

function transform(d) {
    return "translate(" + x(d.x) + "," + y(d.y) + ")";
}

d3.json("/viz/data/" + "{{filename}}", function(error, graph) { go(graph); });

function go(graph) {
ggraph = graph;
  force.nodes(graph.nodes)
       .links(graph.links)
       .start();

  var link = svg.selectAll(".link")
      .data(graph.links)
    .enter().append("line")
      .attr("class", "link")
      .style("stroke-width", function(d) { return Math.sqrt(d.count); });

  var node = svg.selectAll(".node")
      .data(graph.nodes)
      .enter().append("g");

      node.attr("class", "node")
      node.append("circle")
      .attr("r", function (d) { return 4+ Math.sqrt(d.count) * 2; }) //5)
      .style("fill", function(d) { return color(d.loc); })

      node.append("text").attr("text-anchor", "middle")
      .text(function (d) { return d.name; });

      node.on("mouseover", function (d) {
	      var ul = d3.select("#info");
	      ul.selectAll("li").remove();
	      ul.append("li").html("<b>Name:</b> " + d.name);
	      ul.append("li").html("<b>Count:</b> " + d.count);
	      console.log(d);
      });
      node.call(force.drag);

  node.append("title")
      .text(function(d) { return d.name; });

  force.on("tick", function() {
    link.attr("x1", function(d) { return x(d.source.x); })
        .attr("y1", function(d) { return y(d.source.y); })
        .attr("x2", function(d) { return x(d.target.x); })
	.attr("y2", function(d) { return y(d.target.y); });

    node.attr("transform", function(d) { return "translate(" + x(d.x) + "," + y(d.y)  + ")"; })
    /*node.attr("cx", function(d) { return d.x; })
        .attr("cy", function(d) { return d.y; });*/
  });
}

</script>
</html>
